footer {
    background-color: $grey;
    text-align: center;
}

footer p {
    margin: 0;
    padding: 0;
}

.fa-arrow-up {
    @include transition(all 0.3s ease-in-out);
    cursor: pointer;
    color: $black;
        &:hover {
            color: $gold;
            -webkit-transform: scale(1.5);
            transform: scale(1.5);
            -moz-transform: scale(1.5);
            -o-transform: scale(1.5);
            -ms-transform: scale(1.5);
        }
}

