    header {
        height: 100vh;
        background-image: url("../images/top_bg.png");
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
    } 

    .stickyHeader {
        width: 100%;
        z-index: 999;
        position: fixed;
        -webkit-transition: all 250ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
        transition: all 250ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
        transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
        -webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000);
        transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000);
        padding: 130px 0 0;
        border-bottom-color: transparent;
    }

    .headerTransition {
        padding: 60px 0;
        border-color: #fafafa;
        background: $white;
    }

    .topInfo {
        padding-top: 45vh;
    }

    p.name {
        text-transform: uppercase;
        @include fontSize(60);
        line-height: 0.8;
        font-weight: 200;
        margin: 0;
    }

    span.bold {
        line-height: 1;
        font-weight: 800;
    }

    .socialIcons {
        display: flex;
        justify-content: center;
    }

    .logo img {
        min-width: 10vh;
        max-width: 15vh;
        position: fixed;
        top: 5%;
        left: 2%;
    }

    .buttonContainer {
        position: fixed;
        top: 7%;
        right: 2%;
        width: 35px;
        height: 35px;
        cursor: pointer;
        z-index: 100;
        @include transition(opacity .25s ease);
        
        &:hover {
            opacity: .7;
        }
        
        &.active {
            .top {
            transform: translateY(11px) translateX(0) rotate(45deg);
            background: $grey;
            }
            .middle {
            opacity: 0;
            background: $grey;
            }
            
            .bottom {
            transform: translateY(-11px) translateX(0) rotate(-45deg);
            background: $grey;
            }
        }
    }

    .topInfo a {
        text-decoration: none;
        @include fontSize(20);
        color: $black;
        display: inline-block;
    }

    .overlay a {
        display: inline-block;
        position: relative;
        text-align: center;
        color: $white;
        text-decoration: none;
        @include fontSize(40);
        overflow: hidden;
        top: 5px;
        height: 50px;
    }

    // .overlay a.nav:after {
    //     content: '';
    //     position: absolute;
    //     background: $white;
    //     height: 2px;
    //     width: 0%;
    //     transform: translateX(-50%);
    //     left: 50%;
    //     bottom: 0;
    //     transition: .35s ease;

    //         &:hover:after,
    //         &:focus:after,
    //         &:active:after {
    //             width: 100%;
    //         }
    // }

    .fa-twitter,
    .fa-linkedin-in,
    .fa-github,
    .fa-envelope {
        padding: 8px 10px;
        @include transition(all .5s ease);
        @include fontSize(25);
    }

    .fa-twitter:hover {
        background-color: #00aced;
    }

    .fa-linkedin-in:hover {
        background-color: #0073a4;  
    }

    .fa-github:hover {
        background-color: $black;
    }

    .fa-envelope:hover {
        background-color: $gold;
    }

    span.top,
    span.middle,
    span.bottom {
        background: $black;
        border: none;
        height: 2px;
        width: 85%;
        position: absolute;
        top: 0;
        left: 0;
        @include transition(all .35s ease);
        cursor: pointer;
            
            &:nth-of-type(2) {
            top: 11px;
            }
            
            &:nth-of-type(3) {
            top: 22px;
            }
    }

    .overlay {
        position: fixed;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
        opacity: 0;
        visibility: hidden;
        transition: opacity .35s, visibility .35s, height .35s;
        overflow: hidden;
            &.open {
                opacity: 1;
                visibility: visible;
                height: 100%;
            }
    
    li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;
      
      &:nth-of-type(2) {
        animation-delay: .4s;
      }
      &:nth-of-type(3) {
        animation-delay: .45s;
      }
      &:nth-of-type(4) {
        animation-delay: .50s;
      }
    }
}
    nav {
        position: relative;
        height: 70%;
        top: 55%;
        transform: translateY(-50%);
        font-size: 50px;
        font-weight: 400;
        text-align: center;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        position: relative;
        height: 100%; 
        
        li {
        display: block;
        height: 25%;
        height: calc(100% / 4);
        min-height: 50px;
        position: relative;
        opacity: 0;
        
        a {
            display: block;
            position: relative;
            color: $white;
            text-decoration: none;
            overflow: hidden;
            
            &:hover:after,
            &:focus:after,
            &:active:after {
            width: 100%;
            }
            
            &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0%;
            transform: translateX(-50%);
            height: 3px;
            background: $white;
            transition: .35s;
            }
        }
        }
    }

    .type-it {
        line-height: 25px;
        @include fontSize(25);
    }

    .goldHover {
        @include transition(all 0.5 ease-in-out);
        &:hover {
            color: $gold;
        }
    }

    @keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
    }

    @media screen and (max-width: 350px) {
        p.name {
            @include fontSize(40);
        }
    }